/* CSS Document */
html,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


@font-face {
src: url('./fonts/SFProDisplay-Light.ttf');
font-family: MyWebFont;
}

body {
margin: auto;
font-family: MyWebFont;
scroll-behavior: smooth;

}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent; }




@media only screen and (min-width: 375px) and (max-width: 767px)
{



.navigation {
margin:0;
background-color: rgb(20, 20, 21);
}

.navigation ul{
margin: auto;
font-size: 14px;
text-decoration: none;
list-style-type: none;
display: flex;
padding: 0;
overflow: auto;
align-items: center;
}
.navigation ::after{
}

.navigation ul:nth-of-type(2) li{
margin: 1em;
}

  .navigation ul:nth-of-type(1) {
background-color: black;
width: 100%;
overflow: hidden;

  }

  .navigation ul:nth-of-type(1) li{
width: 100%;
padding-left:70px;
padding-right: 70px;

  }

  .navigation ul:nth-of-type(1) li:nth-of-type(1){

padding-left: 2.2em;

  }

  .navigation ul:nth-of-type(1) li:nth-of-type(2){


  }

  .navigation ul:nth-of-type(1) li:nth-of-type(3){


  }



  .navigation .logo img {
  width: 20px;
  justify-content: center;
  }


  .navigation ul:nth-last-child(1) li:nth-last-child(5) a{
    color: #ffffff;
  }


    .navigation ul:nth-of-type(1) img{
        width: 15px;
        margin-bottom: 0.8em;


    }

.overlay {
  width:100%;

}


    .container {
      cursor: pointer;

    }

    .bar1, .bar2 {
      width: 15px;
      height: 1px;
      background-color: rgb(183, 183, 183);
        margin-bottom: 0.8em;
      transition: 0.4s;
    }



    .change .bar1 {
      transform: rotate(-45deg) translate(-2px, -1px);
      margin-top: 9px;
    }

    .change .bar2 {
      transform: rotate(45deg) translate(-7.8px, -5px);
      margin-top: 9px;
    }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 120vh;
    margin-bottom: 2em;
    overflow: hidden;

  }

  .navigation li img {
    width: 50px;
    height: 50px;
    }

      .navigation li {
      color: white;
      font-size: 0.8em;
      text-align: center;
      }





.hero h1 {
    font-size: 2em;
    color:#ffffff;
  }

 .hero h2 {
padding-top: 2em;
    font-size: 1em;
    margin: 0;
    color:#ffffff;
    text-align: center;
  }

  .hero p {
color: #ffffff;
  }

  .hero a {
    margin-top: 1em;
    display: flex;
  }



/* Je zou hier denken, waaroom gebruik je niet   .hero a:nth-last-child(1)
Dit heb ik niet gedaan, omdat mijn image dan op een of ander manier niet werkt.. */
  .hero a:first-of-type{
  text-decoration: none;
  color: #ffffff;
  background-color: #0071E4;
  justify-content: center;
  padding: 0.6em;
  border-radius: 28px;
  width: 20%;
  }

  .hero a:last-of-type{
  text-decoration: none;
  color: #06c;
  justify-content: center;
  }


  .hero div{
background-color: yellow;
flex-shrink: 1;
flex-grow: 1;
height: 2em;
display: flex;
justify-content: center;

  }


  .hero img{
height: 100%;
width: auto;
  }

  .second {
    display: grid;
  }

  .second h1 {
color: #000000;
text-align: center;
margin: 0;
  }

  .second a {
text-align: center;
margin-top: 1em;
margin-bottom: 1em;
text-decoration: none;
color: #06c;
font-size: 1.2em;
  }

  .second h1 {
    font-size: 2em;
  }

  .second container {
    display: flex;
    flex-wrap: wrap;

  }

  .second container:nth-of-type(1) article  {
padding: 1em;
flex: 1;
flex-basis: 35%;
  }

  .second container:nth-of-type(1) article p {
  font-size: 1  em;
  }



.second container:nth-of-type(1) article a {
text-align: left;
display: block;

  }

  .second container article img{
margin-top: 1em;
display: block;
width: 100%;
  }

  .second container article:nth-of-type(4) img{
display: block;
width: 85%;
  }



  .second container:nth-of-type(1) article h1, h2{
text-align: left;
margin: 0;
  }

  .second container:nth-of-type(1) article h1{
font-size: 1.2em;
margin-top: 1em;
margin-bottom: 0.7em;
  }

  .second container:nth-of-type(1) article h2{
font-size: 0.9em;
  }

  .second container:nth-of-type(1) article a:nth-child(1){
    text-decoration: none;
    width: 3em;
    padding: 0.6em;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #0071E4;
text-align: center;
    border-radius: 28px;

  }

  .second container:nth-of-type(1) article a:nth-child(2){
font-size: 1em;
  }

  .second container:nth-of-type(1) article:nth-of-type(4){
margin-top: 1.5em;
  }

  /* Responsive header */
.nav-items {
  display: none;
  background-color: black;
  width: 100vw;
  height: 100vw;
  color: white;
  padding-bottom: 500px;;

}

.nav-items a {
color: #cccccc;
text-decoration: none;
list-style-type: none;
font-size: 1.5em;
}

.nav-items li {
list-style-type: none;
text-align: left;
margin-left: 46px;
border-bottom: 4px solid #424245;
border-width: 1px;
padding: 8px;
width: 70%;
}

input[type=search]{
	background: #1d1d1f;          /* Overridden by background-color: white; */          /* Irrelevant, I guess */
  width: 90%;
  margin-left: 20px;
  border-radius: 8px;
  height: 35px;
  border: none;
  display:inline;
  text-indent: 35px;
  margin-bottom: 10px;
}

 ::placeholder { /* Edge */
  color: #858589;
  font-size: 1.7em;
  margin-left: 50px;
  font-weight: 250;


}

.nav-items img{
  color: #7b7b81;
  display: inline;
  width: 4%;
  position: absolute;
  left: 30px;
  top: 73px;
}

.nav-items li:nth-of-type(1) {
width: 95%;
margin-left: 0px;
margin-bottom: 10px;
}
