/* CSS Document */
/* Font inladen */
@font-face {
  src: url('./fonts/SFProDisplay-Light.ttf');
  font-family: MyWebFont;
}

body {
  margin: auto;
  font-family: MyWebFont;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* blokkeren van scrollbar (dit werk alleen voor Chrome)  */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

/* Responsive design  */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  body.noscroll {
    overflow: hidden;
  }

  /* Vormgeving voor alle underordered lists op de nav */
  nav ul {
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 0;
    overflow: auto;
  }

  /* Vormgeving voor alle list items underordered lists op de nav */
  nav ul li img {
    width: 50px;
    height: 50px;
  }

  nav ul li {
    color: white;
    font-size: 0.8em;
    text-align: center;
  }

  /*Bovenste gedeelte nav */
  nav ul:nth-of-type(1) {
    position: fixed;
    top: 0px;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    overflow: auto;
    align-items: center;
    width: 100vw;
    background-color: black;
    z-index: 100;
    margin-bottom: 10em;
  }

  /*Alle list items bovenste gedeelste nav*/
  nav ul:nth-of-type(1) li {
    width: 100%;
    padding: 0% 1% 0 1%;
  }

  /*positie hamburger icoon*/
  nav ul:nth-of-type(1) li:nth-of-type(2) {
    padding-left: 25%;
    padding-right: 25%;
  }

  /* Shopping cart transitie */
  nav ul:nth-of-type(1) li:nth-of-type(3) {
    -webkit-transition: all 0.5s ease-in-out;
  }

  /* Apple logo */
  nav ul:nth-of-type(1) li:nth-of-type(2) img {
    width: 20px;
    justify-content: center;
  }

  /* Shopping cart */
  nav ul:nth-of-type(1) li:nth-of-type(3) img {
    width: 20px;
  }

  /* Responsive dropdownmenu  */
  nav ul:nth-of-type(2) {
    padding-top: 4em;
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    transform: translateY(-100%);
    transition: 600ms;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
  }

  /* alle unordered navigatie items van dropdown menu*/
  nav ul:nth-of-type(2) li {
    margin: 1em;
    list-style-type: none;
    text-align: left;
    margin-left: 46px;
    border-bottom: 4px solid #424245;
    border-width: 1px;
    padding: 8px;
    width: 70%;
  }

  /* Dropdown responsive menu link stijl */
  nav ul:nth-of-type(2) li a {
    color: #cccccc;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5em;
  }

  nav ul:nth-of-type(2) li:nth-of-type(1) {
    width: 95%;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  /* Search icoon van responsive dropdown menu  */
  nav ul:nth-of-type(2) img:nth-of-type(1) {
    color: #7b7b81;
    display: inline;
    width: 3%;
    position: absolute;
    left: 40px;
    top: 68px;
  }

  /* Tekstveld dropdownmenu  */
  input[type=search] {
    background: #1d1d1f;
    width: 90%;
    margin-left: 20px;
    border-radius: 8px;
    height: 35px;
    border: none;
    display: inline;
    text-indent: 30px;
    margin-bottom: 10px;
  }

  /* Tekstveld placeholder dropdownmenu  */
  ::placeholder {
    color: #858589;
    font-size: 1.7em;
    margin-left: 50px;
    font-weight: 200;
  }

  /* Dropdown menu icoon */
  button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  button span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: rgb(183, 183, 183);
    margin-bottom: 0.8em;
    transition: 0.4s;
    margin-top: 9px;
  }

  /* Navigatie effecten  */
  /* Effecten voor hamburger icoon */
  nav.menu-open span:nth-of-type(1) {
    transform: rotate(-45deg) translate(-2px, -1px);
    margin-top: 9px;
  }

  /* Effecten voor hamburger icoon */
  nav.menu-open span:nth-of-type(2) {
    transform: rotate(45deg) translate(-7.8px, -5px);
    margin-top: 9px;
  }

  /* Verdwijn effect van shopping cart  */
  nav.menu-open ul:nth-of-type(1) li:nth-of-type(3) {
    opacity: 0%;
    -webkit-transition: all 0.5s ease-in-out;
  }

  /* Slidedown van responsive dropdown menu  */
  nav.menu-open ul:nth-of-type(2) {
    transform: translateY(0%);
  }

  /* Vormgeving van producten scroll */
  nav ul:nth-of-type(3) {
    margin-top: 3em;
    background-color: rgb(20, 20, 21);
    padding: 20px 0px 20px 0px;
  }

  nav ul:nth-of-type(3) li {
    white-space: nowrap;
    font-size: 15px;
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li::after {
    content: attr(data-new);
    color: #f56300;
  }

  nav ul:nth-of-type(3) li img {
    width: 80px;
    height: 80px;
  }

  /* Eerste sectie  */
  body.homepage main section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 120vh;
    margin-bottom: 2em;
    overflow: hidden;
  }

  body.homepage main section:nth-of-type(1) h1 {
    font-size: 2em;
    color: #ffffff;
  }

  body.homepage main section:nth-of-type(1) h2 {
    padding-top: 2em;
    font-size: 1em;
    margin: 0;
    color: #ffffff;
    text-align: center;
  }

  body.homepage main section:nth-of-type(1) p {
    color: #ffffff;
  }

  body.homepage main section:nth-of-type(1) a {
    margin-top: 1em;
    display: flex;
  }

  body.homepage main section:nth-of-type(1) a:nth-of-type(1) {
    text-decoration: none;
    color: #ffffff;
    background-color: #0071E4;
    justify-content: center;
    padding: 0.6em;
    border-radius: 28px;
    width: 20%;
  }

  body.homepage main section:nth-of-type(1) a:nth-of-type(2) {
    text-decoration: none;
    color: #06c;
    justify-content: center;
  }

  /* 2e sectie  */
  body.homepage main section:nth-of-type(2) {
    display: grid;
  }

  h1 {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin: 0;
  }

  body.homepage main section:nth-of-type(2) h1:nth-of-type(1) {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  body.homepage main section:nth-of-type(2) a {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    color: #06c;
    font-size: 1.2em;
  }

  body.detailpagina {
    background-color: white;
  }

  /* Producten overzicht */
  body.homepage main section:nth-of-type(2) ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  body.homepage main section:nth-of-type(2) ul li img {
    margin-top: 1em;
    display: block;
    width: 75%;
  }

  body.homepage main section:nth-of-type(2) li {
    list-style: none;
    padding-left: 8%;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li {
    flex: 1;
    flex-basis: 35%;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li h1, h2 {
    text-align: left;
    margin: 0;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li h1 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.7em;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li h2 {
    font-size: 0.9em;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li p {
    font-size: 1em;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li a {
    text-align: left;
    display: block;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li a:nth-of-type(1) {
    text-decoration: none;
    width: 3em;
    padding: 0.6em;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #0071E4;
    text-align: center;
    border-radius: 28px;
  }

  body.homepage main section:nth-of-type(2) ul li:nth-of-type(4) img {
    display: block;
    width: 85%;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li a:nth-child(2) {
    font-size: 1em;
  }

  body.homepage main section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(4) {
    margin-top: 1.5em;
  }
}

/* Detailpagina  */
/* Nav  */
body.detailpagina nav ul:nth-of-type(1) {
  position: relative;
  margin: 0;
}

body.detailpagina nav ul:nth-of-type(2) {
  z-index: 2;
}

/* 1e sectie  */
body.detailpagina main section:nth-of-type(1) {
  position: sticky;
  display: flex;
  z-index: 1;
  top: 0px;
  margin: 0px;
  background-color: hsla(0, 0%, 100%, .65);
}

body.detailpagina section:nth-of-type(1) ul {
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #d7d7d7;
  padding: 0;
}

body.detailpagina section:nth-of-type(1) ul li {
  flex-direction: row;
  font-size: 1em;
  color: black;
  align-items: flex-end;
  padding: 0 1em 0 1em;
}

body.detailpagina section:nth-of-type(1) p {
  color: black !important;
}

body.detailpagina section:nth-of-type(1) li:nth-of-type(1) p {
  font-size: 20px;
  margin-right: 80px;
  white-space: nowrap;
  font-weight: 300;
}

body.detailpagina section:nth-of-type(1) li:nth-of-type(2) p {
  font-size: 13px;
  padding-top: 5px;
}

/* 2e sectie  */
body.detailpagina section:nth-of-type(2) a {
  display: block;
  color: #06c;
  text-decoration: none;
  list-style-type: none;
}

body.detailpagina section:nth-of-type(2) a:nth-of-type(1) {
  font-size: 1.2em;
  text-align: center;
}

body.detailpagina section:nth-of-type(2) a:nth-of-type(2) {
  text-align: center;
}

body.detailpagina section:nth-of-type(2) a:nth-of-type(2)::before {
  content: url(./images/chat.svg);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 78%;
}

body.detailpagina section:nth-of-type(2) p {
  text-align: center;
  font-size: 1em;
}

body.detailpagina section:nth-of-type(2) p:nth-of-type(1) {
  color: #de602d;
  margin-bottom: 0;
  margin-top: 1em;
  font-size: 0.8em;
}

body.detailpagina section:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.2em;
  margin: 8px;
}

body.detailpagina section:nth-of-type(2) img:nth-of-type(1) {
  width: 353px;
  height: 413px;
  display: block;
  margin: auto;
}

/* 3e sectie  */
body.detailpagina section:nth-of-type(3) {
  margin: 8%;
}

body.detailpagina section:nth-of-type(3) h1 {
  text-align: left;
}

body.detailpagina section:nth-of-type(3) ul {
  padding: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

body.detailpagina section:nth-of-type(3) li {
  list-style: none;
  padding: 20px 35px 20px 35px;
  margin: 0px 10px 10px 0px;
  border: solid #dadada 1px;
}

body.detailpagina section:nth-of-type(3) li:hover {
  border: solid #888888 1px;
}

body.detailpagina section:nth-of-type(3) li:active {
  border: solid #2d70c3 1px;
}

body.detailpagina section:nth-of-type(3) li:nth-of-type(1) p::before {
  content: url(./images/graphite.jpg);
  display: block;
}

body.detailpagina section:nth-of-type(3) li:nth-of-type(2) p::before {
  content: url(./images/silver.jpg);
  display: block;
}

body.detailpagina section:nth-of-type(3) li:nth-of-type(3) p::before {
  content: url(./images/gold.jpg);
  display: block;
}

body.detailpagina section:nth-of-type(3) li:nth-of-type(4) p::before {
  content: url(./images/blue.jpg);
  display: block;
}

body.detailpagina section:nth-of-type(3) li p {
  font-size: 1em;
  text-align: center;
  width: 75px;
}

body.detailpagina section:nth-of-type(3) ul {}




/* 4e sectie (niet mijn code) */
body.detailpagina section:nth-of-type(4) {
  position: relative;
}

body.detailpagina section:nth-of-type(4) .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

body.detailpagina section:nth-of-type(4) .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

body.detailpagina section:nth-of-type(4) .slide img {
  z-index: 1;
  width: 700px;
}

body.detailpagina section:nth-of-type(4) .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

body.detailpagina section:nth-of-type(4) .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

body.detailpagina section:nth-of-type(4) .navigation .btn.active {
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

body.detailpagina section:nth-of-type(4) {
  width: 100%;
  height: 250px;
}

body.detailpagina section:nth-of-type(4) .navigation .btn {
  width: 8px;
  height: 8px;
  margin: 6px;
}
